.container{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
a{
    text-decoration: none;
}
#side ul{
    list-style: none;
    padding: 10px;
    width: 100%;
    float: left;
}
#side ul li{
    padding: 5px;
    margin: 10px;
    background:#c4dfaa;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#content{
    width: 100%;
    height: 630px;
    display:flex;
    margin-top: 10px;
}
#side{
    display: flex;
    width: 20%;
    background: #73a9ad;
    font-size: 20px;
}
#content #side2{
    width: 80%;
    background: #f5f0bb;   
}
#user{
    float: right;
    margin: 10px;
    width: 150px;
    height: 30px;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgba(40,0,0,0.48);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(40,0,0,0.48);
    -moz-box-shadow: 0px 0px 10px 4px rgba(40,0,0,0.48);
}
#table{
    margin: 40px 0 0 50px;
}
footer{
    width: 100%;
    height: 100px;
    background: #90C8AC;
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid rgb(58, 52, 52);
}
tr:nth-child(even) {
    background-color: #c4dfaa;
}